<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    {{template "head"}}
    <title>パスワードを忘れた場合</title>
</head>
<body class="bg-white">
<main>
</main>
</body>
</html>

<!DOCTYPE html>
<html lang="ja">
<head>
    {{template "head" .}}
    <title>会員登録 - GitLaw</title>
</head>
<body class="bg-white">
<main>
    <p>{{.err}}</p>
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-md-6 col-8 offset-md-3 offset-2 offset">
                <div class="register">
                    <div class="row register__img d-flex justify-content-center my-4">
                        <a href="/">
                            <img
                                    src="/icon.png"
                                    style="filter: invert()"
                                    width="50px"
                            />
                        </a>
                    </div>
                    <div class="row register__title mb-4">
                        <p class="w-100 text-center h5 mb-3">GitLaw</p>
                        <p class="w-100 text-center">パスワード再設定</p>
                    </div>
                    <div class="row col-10 offset-1 register__kinds card my-4 p-4 bg-default">
                        <form action="/login/doResetPassword?q={{.q}}" method="post">
                            <table class="table table-borderless mb-0">
                                <tr>
                                    <td colspan="2">

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input class="form-control form-control-sm" placeholder="新しいパスワードを入力してください"
                                               type="password" name="password" required>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input class="form-control form-control-sm" placeholder="確認のため再度入力してください"
                                               type="password" name="password" required>
                                    </td>
                                </tr>
                                <td class="d-flex justify-content-end">
                                    <input class="btn btn-sm btn-primary" type="submit" value="再設定する">
                                </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
