<!DOCTYPE html>
<html lang="ja">
<head>
    {{template "head" .}}
    <title>会員登録メール送信 - GitLaw</title>
</head>
<body class="bg-white">
<main>
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-md-6 col-8 offset-md-3 offset-2 offset">
                <div class="register">
                    <div class="row register__img d-flex justify-content-center my-4">
                        <a href="/">
                            <img
                                    src="/icon.png"
                                    style="filter: invert()"
                                    width="50px"
                                    onclick="location.href='/'"
                            />
                        </a>
                    </div>
                    <div class="row register__title mb-5">
                        <p class="w-100 text-center h5 mb-3">GitLaw</p>
                        <p class="w-100 text-center">パスワード再設定</p>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <h1 class="h3 mb-3">パスワード再設定メールを送信しました。</h1>
                            <p class="mb-5">メール内のリンクをクリックして認証を完了してください</p>
                            <a href="/">トップページへ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
