<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{template "head"}}
    <title>404 - GitLaw</title>
</head>
<body>
{{template "header" .}}
<div class="container-fluid">
        <div class="row mt-5">
            <div class="col-4 offset-4">
                <h1 class="text-center">- 4 0 4 - </h1>
                <h2 class="text-center">Page Not Found</h2>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-8 offset-2">
                <p class="text-center h3">お探しのページが見つかりませんでした</p>
                <p class="text-center h3">削除されたかURLに誤りがあります</p>
                <p class="mt-3 text-center"><a  href="/">トップに戻る</a></p>
                <p class="mx-5 mt-5 mb-0 text-center"><img src="icon-dark.png" style="width: 3vw;backface-visibility: hidden"></p>
                    <p class="text-center"><small>&copy;GitLaw</small></p>
            </div>
        </div>
</div>
</body>
</html>