<!DOCTYPE html>
<html lang="ja">
<head>
  {{template "head" .}}
  <title>{{ .str }} - GitLaw</title>
</head>
<body>
{{template "header" .}}
<div class="container-fluid">
  <div class="row mt-5">
    <div class="col offset-1">
      <h1 class="text-primary h2"><a>サイト一時停止のお詫び</a></h1>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-8 offset-md-2 col-10 offset-1 mt-4">
      <p>文章文章文章文章文章文章文章文章文章文章文章文章文章文章</p>
      <p>文章文章文章文章文章文章文章文章文章文章文章文章文章文章</p>
      <p>文章文章文章文章文章文章文章文章文章文章文章文章文章文章</p>
      <p>文章文章文章文章文章文章文章文章文章文章文章文章文章文章</p>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-8 offset-md-2 col-10 offset-1 mt-4">
      <a href="/">← 戻る</a>
    </div>
  </div>


</div>
</body>
</html>
